@import "tailwindcss";

body {
	background-color: #e6e6ff;
	width: 100vw;
	overflow: scroll;
	font-family: 'Tajawal', sans-serif;
	height: 100%;
}

a.active hr {
	display: block;
}
select,
input,
textarea {
	border: 1px solid #c2c2c2;
	outline-color: #5baeb7;
	border-radius: 4px;
}

.ql-container{
	border: none !important;

}
.ql-toolbar{
	border: none !important;

}
.ql-editor{
	border: none !important;

}


.animatedButton {
	animation-duration: 10000ms;
}